---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Brands from '~/components/widgets/Brands.astro';
import Features2 from '~/components/widgets/Features2.astro';
import TeamWidget from '~/components/widgets/Team.jsx';


import logoCharite from '../assets/images/logo_charite.svg';
import logoAachen from '../assets/images/logo_aachen.svg';
import logoUKB from '../assets/images/logo_ukb.png';

import profileEinicke from '../assets/images/profile_leinicke2.jpg';
import profileHoltgrewe from '../assets/images/profile_mholtgrewe.jpeg';
import profileZhao from '../assets/images/profile_mzhao2.jpg';
import profileStolpe from '../assets/images/profile_ostolpe.jpeg';

const metadata = {
  title: 'VarFish - Genome Interpretation',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Test online',
        href: 'https://varfish-ext.cubi.bihealth.org/',
        target: '_blank',
        icon: 'tabler:player-play-filled',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Interpret <span class="text-accent dark:text-white highlight">whole-genome data</span> with confidence
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">VarFish</span> is an open-source, customizable and production-ready variant interpretation software for whole-exome, whole-genome and long read data.
    </Fragment>
  </Hero>

  <Features2
    title="About us"
    subtitle="We are an experienced team of clinical geneticists at Charité - Universitätsmedizin Berlin and bioinformaticians at Berlin Institute of Health."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <section>
  <div class="py-8 px-4 mx-auto max-w-screen-xl text-center lg:py-16 lg:px-6">
            <div class="mx-auto mb-8 max-w-screen-sm lg:mb-16">
            <h2 class="mb-4 text-4xl tracking-tight font-extrabold text-gray-900 dark:text-white">Our team</h2>
            <!-- <p class="font-light text-gray-500 sm:text-xl dark:text-gray-400">Meet our team</p>
            -->
          </div>

  <div class="grid gap-8 lg:gap-16 sm:grid-cols-2 md:grid-cols-4 lg:grid-cols-4">
  <TeamWidget members={[
    {
      name: 'Lara Einicke',
      nameLink: '#',
      title: 'Physician',
      avatar: profileEinicke.src,
      social: {
        // website: '#',
        // twitter: '#',
        // instagram: '#',
        // facebook: '#',
        linkedin: 'https://www.linkedin.com/in/lara-einicke-4335092b0/',
        github: 'https://github.com/einicke',
      },
    },
    {
      name: 'Max Xiaohang Zhao',
      nameLink: null,
      title: 'Computer Scientist & Physician',
      avatar: profileZhao.src,
      social: {
        // website: '#',
        // twitter: '#',
        // instagram: '#',
        // facebook: '#',
        linkedin: 'linkedin.com/in/max-xiaohang-zhao-227428152',
        github: 'https://github.com/xiamaz',
      },
    },
    {
      name: 'Manuel Holtgrewe',
      nameLink: null,
      title: 'Bioinformatician & Software Engineer',
      avatar: profileHoltgrewe.src,
      social: {
        // website: '#',
        // twitter: '#',
        // instagram: '#',
        // facebook: '#',
        linkedin: 'https://www.linkedin.com/in/manuel-holtgrewe/',
        github: 'https://github.com/holtgrewe',
      },
    },
    {
      name: 'Oliver Stolpe',
      nameLink: null,
      title: 'Software engineer',
      avatar: profileStolpe.src,
      social: {
        // website: '#',
        // twitter: '#',
        // instagram: '#',
        // facebook: '#',
        linkedin: 'https://www.linkedin.com/in/oliver-stolpe-61809766/',
        github: 'https://github.com/stolpeo',
      },
    },
  ]} />
  </div>
  </div>
  </section>

  <Brands
    title="Partnerships & Collaborations"
    subtitle="At VarFish, we believe in open science and collaboration."
    icons={[]}
    images={[
      {
        src: logoCharite,
        alt: 'Charité',
      },
      {
        src: logoAachen,
        alt: 'UK Aachen',
      },
      {
        src: logoUKB,
        alt: 'Uniklinikum Bonn',
      },
    ]}
  />

  <Steps2
    title="Reach out to us"
    subtitle="Interested or having questions? Feel free to contact us."
    callToAction={{
      text: 'Contact us',
      href: 'mailto:info@varfish.de',
    }}
    items={[
      {
        title: 'Email us',
        description: '<a href="mailto:info@varfish.de">info@varfish.de</a>',
        icon: 'tabler:mail',
      },
      {
        title: 'Follow us on GitHub',
        description: '<a href="https://github.com/varfish-org/varfish-server">github.com/varfish-org/varfish-server</a>',
        icon: 'tabler:brand-github-filled',
      },
    ]}
  />

</Layout>
