---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Steps2 from '~/components/widgets/Steps2.astro';
import Brands from '~/components/widgets/Brands.astro';
import Features2 from '~/components/widgets/Features2.astro';

import logoCharite from '../assets/images/logo_charite.svg';
import logoAachen from '../assets/images/logo_aachen.svg';
import logoUKB from '../assets/images/logo_ukb.png';

const metadata = {
  title: 'VarFish - Genome Interpretation',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[
      {
        variant: 'primary',
        text: 'Test online',
        href: 'https://varfish-kiosk.bihealth.org/',
        target: '_blank',
        icon: 'tabler:player-play-filled',
      },
      { text: 'Learn more', href: '#features' },
    ]}
  >
    <Fragment slot="title">
      Interpret <span class="text-accent dark:text-white highlight">whole-genome data</span> with confidence
    </Fragment>

    <Fragment slot="subtitle">
      <span class="font-semibold">VarFish</span> is an open-source, customizable and production-ready variant interpretation software for whole-exome, whole-genome and long read data.
    </Fragment>
  </Hero>

  <Features2
    title="About us"
    subtitle="We believe in the magic of turning dreams into stunning realities. Founded by passionate developers with a shared vision, we set out to simplify the website creation process. Our templates bring together the innovation of Astro 4.0 and the versatility of Tailwind CSS, enabling you to express your unique brand identity like never before."
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Brands
    title="Partnerships & Collaborations"
    subtitle="At VarFish, we believe in open science and collaboration."
    icons={[]}
    images={[
      {
        src: logoCharite,
        alt: 'Charité',
      },
      {
        src: logoAachen,
        alt: 'UK Aachen',
      },
      {
        src: logoUKB,
        alt: 'Uniklinikum Bonn',
      },
    ]}
  />

  <Steps2
    title="Reach out to us"
    subtitle="Have questions? Feel free to contact us using the form below. We're here to help!"
    callToAction={{
      text: 'Contact us',
      href: '/',
    }}
    items={[
      {
        title: 'Email us',
        description: 'contact@support.com',
        icon: 'tabler:mail',
      },
      {
        title: 'Call us',
        description: '+1 (234) 567-890',
        icon: 'tabler:headset',
      },
      {
        title: 'Follow us',
        description: '@example',
        icon: 'tabler:brand-twitter',
      },
    ]}
  />

</Layout>
